{% extends "base.html" %}
{% block container %}

		<div class="jumbotron page-header">
		  <h1 style="color: black;">Locarfix</h1>
		  <p>Alugue seu veículo aqui na LOCARFIX Veículos. LOCARFIX aqui você encontra o veículo certo ! </p>
		  <p><a href="#" class="w3ls-login" data-toggle="modal">Saiba Mais</a></p>

		</div>

<div class="team-page">
	<div class="container">
		<h3 class="agile">Desenvolvedores</h3>
		<div class="col-md-4 about-poleft time">
            <div class="about_img"><img src="/media/catalogo/veiculoimg/foto6.jpg" class="team" alt="">
              <h5>Fhulvio</h5>
              <div class="about_opa">

                  <div class="agile-social">
							<ul>
								<li><a href="https://www.facebook.com/fhulvio.andrade"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/fhulvioandrade"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
              </div>
            </div>
        </div>
		<div class="col-md-4 about-poleft time">
            <div class="about_img"><img src="/media/catalogo/veiculoimg/foto5.jpg" class="team" alt="">
              <h5>Marcus</h5>
              <div class="about_opa">

                <div class="agile-social">
							<ul>
								<li><a href="https://www.facebook.com/Viniicius.miranda.S"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/vinicius.mirandas"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
              </div>
            </div>
        </div>
		<div class="col-md-4 about-poleft time">
            <div class="about_img"><img src="/media/catalogo/veiculoimg/foto4.jpg" class="team" alt="">
              <h5>Mariana</h5>
              <div class="about_opa">

                <div class="agile-social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
              </div>
            </div>
        </div>
		<div class="col-md-4 about-poleft time">
            <div class="about_img"><img src="/media/catalogo/veiculoimg/foto3.jpg" class="team" alt="">
              <h5>Stephane</h5>
              <div class="about_opa">

                <div class="agile-social">
							<ul>
								<li><a href="https://www.facebook.com/stephane.soares.750"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/_stephanesoares"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
              </div>
            </div>
        </div>
		<div class="clearfix"></div>
	</div>
</div>


{% endblock %}