{% extends "base.html" %}
{% block container %}
        <div class="page-header">
		  <h1>{{ Modelo }}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="http://placehold.it/350x250" alt="" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <dl>
			  	<dt>Ano do veículo:</dt>
				<dd>{{ ano_vec }}</dd>
				<dt>Placa:</dt>
				<dd>{{ placa }}</dd>
				<dt>Marca:</dt>
				<dd>{{ marca }}</dd>
				<dt>Cor:</dt>
				<dd>{{ cor }}</dd>
				<dt>Placa:</dt>
				<dd>{{ placa }}</dd>
			  </dl>
		  </div>
		</div>

{% endblock %}